.course-section {
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
  border-radius: 5px;
  max-width: 1000px; /* adjust the value based on your preference */
  margin: 0 auto;
}

.course-title {
  font-size: 28px;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}

.subcourse-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.subcourse-list li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  text-align: center;
}

.subcourse-list li:before {
  content: "\2022";
  font-size: 18px;
  margin-right: 10px;
}

.subcourse-list li a {
  font-weight: bold;
  transition: all .3s ease;
  max-width: 100%;
  word-wrap: break-word;
}

